*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: white;
}

#open-btn{
    position:absolute;
    top: 70%;
    right:10%;
    padding: 1rem;
    font-size: 2rem;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    border-radius: 10px;
}

#open-btn:hover{
    
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

#model{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:40%;
    padding: 1rem 2rem;
    border-radius: 10px;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation-name:animatemodel;
    animation-duration: .4s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#close-btn{
    font-size: 2rem;
}

#close-btn:hover{
    color: red;
}

#model-container{
    display:none;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    z-index:1;
   
}

/* Model Animation Section*/
@keyframes animatemodel{
    from{
        top:-300px;
        opacity: 0;
    }
    to{
        top: 50%;
        opacity: 1;
    }
}